<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="bt3" frontName="bt3">
            <module name="Magenest_Bt3" before="Magento_Backend"/>
        </route>
    </router>
</config>
