<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_product_load_after">
        <observer name="catalog_product_load_after_observers" instance="Magenest\Bt7\Observer\HandleAddToCart" disabled="false" />
    </event>
</config>
