<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation=
    "urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magenest" translate="label" sortOrder="500">
            <label>MAGENEST</label>
        </tab>
        <section id="clock" translate="label" type="text"
                 sortOrder="100" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <label>Clock configuration</label>
            <tab>magenest</tab>
            <resource>Magenest_Bt2::config_clock</resource>
            <group id="clockconfiguration" translate="label" type="text"
                   sortOrder="1" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Default Clock</label>
                <field id="title" translate="label"
                       type="text" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Title Clock</label>
                </field>
                <field id="size" translate="label"
                       type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Size Clock</label>
                    <source_model>Magenest\Bt2\Model\Config\Source\SizeClock</source_model>
                </field>
                <field id="color" translate="label"
                       type="text" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Color Clock</label>
                    <frontend_model>Magenest\Bt2\Block\Adminhtml\Config\Form\ColorPicker</frontend_model>
                </field>
                <field id="text" translate="label"
                       type="text" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Color Text</label>
                    <frontend_model>Magenest\Bt2\Block\Adminhtml\Config\Form\ColorPicker</frontend_model>
                </field>
                <field id="type" translate="label"
                       type="text" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Clock Type</label>
                    <frontend_model>Magenest\Bt2\Block\Adminhtml\Form\Field\ClockTypes</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>
