<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="bt8" frontName="bt8">
            <module name="Magenest_Bt8" before="Magento_Backend"/>
        </route>
    </router>
</config>
